@{
    ViewData["Title"] = "Voucher";
}
<link rel="stylesheet" href="~/css/CheckVoucher.css" />
<script src="~/js/CheckVoucher.js"></script>


<div class="w340 f-s24 mg0a mg-t10"><b>THPT Dầu Tiếng Confessions</b></div>
<div class="h5"></div>
<div class="holder">
    <div class="w230 mg0a t-a_c f-s20">
            Điền voucher vào đây!!!
            <div class="h5"></div>
            <div class="d-flex j-c_sb">
            <form action="/Voucher" method="get">
                <input id="voucher-code" name="Code" type="text" placeholder="AWX1234" class="form-input w150 l-h30 mg-t3 bd0 bd-r5 f-s18">
                <input type="submit" value=">>Go" class="btn btn-check-voucher white t-a_c">
            </form>
            </div>
    </div>
</div>

@{
    if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "")
        {
            <div class="h10"></div>
            <div class="w_pc100">
                <div id="voucher" class="w300 h380 mg0a bg-c_white bd-r20">
                    <div id="SName" class="pd-t12 pd-b8 t-a_c f-s24">@ViewBag.ShopName</div>
                    <div id="VCode" class="t-a_c">@ViewBag.VoucherCode</div>
                    <div id="div-image" class="w180 h100 mg0a mg-t10 mg-b10 bd1"><img src="#" alt="Hình ảnh goes here"></div>
                    <div id="description" class="w220 h120 bd1 mg0a mg-b10">@ViewBag.Description</div>
                    <div class="mg0a w180">
                        <button class="btn w180 h35 bd0 bd-r18 f-s20 white bg-c_green">Dùng voucher</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <br />
            <div class="w190 h35 mg0a red">@ViewBag.Message</div>
        }
    }
}



